<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>websocket_url_settings_preference</key>
	<string>ws://loki.easysoft.local:8002/</string>
	<key>silk_url_settings_preference</key>
	<string>http://loki.easysoft.local:82</string>
</dict>
</plist>
