<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>9780345545749</string>
	<string>9780345545756</string>
	<string>9780345545763</string>
	<string>9780345545770</string>
	<string>9780345545787</string>
	<string>9780345545794</string>
</array>
</plist>
