<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>eddard</string>
		<key>itemUID</key>
		<string>eddard_stark</string>
		<key>book</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>highgarden</string>
		<key>itemUID</key>
		<string>highgarden</string>
		<key>book</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>jon</string>
		<key>itemUID</key>
		<string>jon_snow</string>
		<key>book</key>
		<string>4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>melisandre</string>
		<key>itemUID</key>
		<string>melisandre</string>
		<key>book</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>stormsend</string>
		<key>itemUID</key>
		<string>storms_end</string>
		<key>book</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>robert</string>
		<key>itemUID</key>
		<string>robert_baratheon</string>
		<key>book</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cersei</string>
		<key>itemUID</key>
		<string>cersei_lannister</string>
		<key>book</key>
		<string>1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>dragonstone</string>
		<key>itemUID</key>
		<string>dragonstone</string>
		<key>book</key>
		<string>1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>beric</string>
		<key>itemUID</key>
		<string>beric_dondarrion</string>
		<key>book</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>winterfell</string>
		<key>itemUID</key>
		<string>winterfell</string>
		<key>book</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sansa</string>
		<key>itemUID</key>
		<string>sansa_stark</string>
		<key>book</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
