<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>sansa</string>
		<key>itemUID</key>
		<string>sansa_stark</string>
		<key>book</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>harrenhal</string>
		<key>itemUID</key>
		<string>harrenhal</string>
		<key>book</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>vargo</string>
		<key>itemUID</key>
		<string>vargo_hoat</string>
		<key>book</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>winterfell</string>
		<key>itemUID</key>
		<string>winterfell</string>
		<key>book</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>brienne</string>
		<key>itemUID</key>
		<string>brienne_tarth</string>
		<key>book</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>storms_end</string>
		<key>itemUID</key>
		<string>storms_end</string>
		<key>book</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>melisandre</string>
		<key>itemUID</key>
		<string>melisandre</string>
		<key>book</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>euron</string>
		<key>itemUID</key>
		<string>euron_greyjoy</string>
		<key>book</key>
		<string>4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cersei</string>
		<key>itemUID</key>
		<string>cersei_lannister</string>
		<key>book</key>
		<string>1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>robert</string>
		<key>itemUID</key>
		<string>robert_baratheon</string>
		<key>book</key>
		<string>0</string>
	</dict>
</array>
</plist>
